@charset "utf-8";
/* CSS Document */
* {margin: 0px;
padding: 0px}
.logo a {
	text-decoration: none;
	color: aliceblue;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-content: center
}
.toolbar a {
	text-decoration: none;
	color: aliceblue;
	font-size: 20px;
	margin-left: 18px
	
}
.toolbar a:hover {
	text-decoration: overline
}
.menu {
	background: rgb(60,179,113);
	width: 100%;
}
.custom-btn {
  width: 100px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
	font-size: 14px
}
.btn-2 {
  background: rgba(24,24,24,1.00);
  border: none;
  
}
.btn-2:before {
  height: 0%;
  width: 2px;
}
.btn-2:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
.btn-3 {
  background: rgb(112,112,112);
  border: none;
  
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.btn {
	display: flex;
	justify-content: flex-start
	
}
 h1, label{
   color:aliceblue;
	 text-align: center
 }
   input[type=text], input[type=password] {
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   display: inline-block;
   border: none;
   width:100%;
   resize: vertical;
   padding:15px;
   border-radius:15px;
   border:0;
   box-shadow:4px 4px 10px rgba(0,0,0,0.2);
 }
input[type=text]:focus, input[type=password]:focus {
   outline: none;
 }
hr {
   border: 1px solid #f1f1f1;
   margin-bottom: 25px;
 }
button {
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
   opacity: 0.9;
 }
button:hover {
   opacity:1;
 }
.cancelbtn {
   padding: 14px 20px;
   background-color: #f44336;
 }
.signupbtn {
   float: left;
   width: 100%;
   border-radius:15px;
   border:0;
   box-shadow:4px 4px 10px rgba(0,0,0,0.2);
 }
.clearfix::after {
   content: "";
   clear: both;
   display: table;
 }
body {
	background-image: url(pathway-middle-green-leafed-trees-with-sun-shining-through-branches.jpg);
	width: 100%;
	background-size: cover
}
form {
	background: rgba(0,0,0,0.58);
	margin-top: 100px;
	width: 100%;
	border-radius: 15px;
	position: relative
	
}
p , lable {
	color: aliceblue
}
.menu-2 a {
	text-decoration: none;
	color: aliceblue;
	margin: 20px;
	font-size: 20px
}
.menu-2 {
	display: flex;
	justify-content: center;
	align-content: center;
	
}
.footer {
	border-top: rgba(255,255,255,1.00) 3px solid;
	background: rgba(0,0,0,0.46);
	margin-top: 60px
}
.menu-2 a:hover {
	text-decoration: overline
}
.toolbar li {
	display: inline-block
}
.nav-mobile {
	display: none
}
@media screen and (max-width:415px){
	.toolbar {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		background: rgba(0,0,0,0.86);
		width: 100%;
		height: 100%;
		z-index: 100000;
	}
	.toolbar ul {
		flex-direction: column;
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
}
	.toolbar li {
		margin: 15px 0 15px 0
	}
	.toolbar li a {
		font-size: 22px
	}
	.nav-mobile {
		display:block;
		color: aliceblue;
		text-decoration: none
	}
	label {
		margin-left: 3%
	}
	p {
		margin-left: 3%
	}
	form {
		padding: 10px 0px !important 
	}
	h1 {
		margin-bottom: 20px !important
	}
	p {
		margin-bottom: 3px
	}
}